---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---
	
<div class="col-md-4 p-3">
<article class="post-preview rounded p-0">
<a class="text-dark" href={post.url}>
		<img class="img-fluid rounded" loading="lazy" src={post.cover}/>
	<div class="p-1">
		<h1>{post.title}</h1>
	<d class="publish-date">{post.publishDate}</d>
	<p>{post.description}</p>
	</a>
	</div>
</article>
</div>
